<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Tour Agency Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse in collapse" style="height: auto;">
                        <ul class="nav">
                            <li>@Html.ActionLink("Trips", "Index", "Trip")</li>
                            <li>@Html.ActionLink("Legs", "Index", "Leg")</li>
                            <li>@Html.ActionLink("Guest", "Index", "Guest")</li>
                        </ul>
                        <div class="navbar-text pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-info">
            Tour Agency Ireland
        </div>
        <div class="container">
        <br/>
        <br/>
        <br/>
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            <br />
            @RenderBody()
        </div>
        <footer class="modal-footer">
                 <p>&copy;Patrick Melia @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
</body>
</html>
        @Scripts.Render("~/js")
        @RenderSection("Scripts", required: false)